.table-loader{
    width: 100%;
    height: 250px;
}

.MuiChip-colorInfo{
    background-color: #f3d496 !important; 
    color: #b1794e !important; 
}

.MuiChip-colorSuccess{
    background-color: #def7ec !important;
    color: #879992 !important;
}

.MuiChip-colorError{
    background-color: #e7c5c4 !important;
    color: #af5251 !important;
}

.no-record-container{
    height: 150px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pagination-container {
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: end;
}